/* .button {
    display: block;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(./img/iconAuth.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
    height: 30px;
} */